:host {
  height: 100%;
  display: flex;
  gap: 3rem;
}

.diagram-form {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

header {
  width: 10%;
  padding: 2rem;
  border-right: 1px solid black;

  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.diagram-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}
