<header>
  <app-create-type />

  <form class="diagram-form">
    <mat-form-field>
      <label>Select type</label>
      <mat-select [formControl]="typeControl">
        @for (item of types(); track $index) {
        <mat-option [value]="item">{{ item.typeName }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <button mat-raised-button type="button" (click)="addToDiagram()">
      Add to diagram
    </button>
  </form>

  <p>Double click - select card</p>
  <p>Double click in selected card - unselect card</p>
  <p>Double click in another card while card is selected - connect them</p>
</header>
<main class="diagram-container">
  <ng-container #container></ng-container>
</main>
